name: Build Gorbage Hands

on:
  push:
    branches: [ main ]
    paths:
      - 'Gorbagehands/**'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          
      - name: Add Solana target
        run: rustup target add wasm32-unknown-unknown
        
      - name: Build release
        working-directory: ./Gorbagehands
        run: cargo build --release
        
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: gorbagio-pnl
          path: Gorbagehands/**/target/release/*.so
          retention-days: 30
          
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
